
*$py.class
adapters
amp
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
benchmarks
build/
# Byte-compiled / optimized / DLL files
.cache
# C extensions
*.cover
cover/
.coverage
.coverage.*
coverage.xml
cython_debug/
# Cython debug symbols
/data
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Default ignored files
develop-eggs/
dist/
# Distribution / packaging
.dmypy.json
dmypy.json
downloads/
# Editor-based HTTP Client requests
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
# Environments
htmlcov/
/httpRequests/
.hypothesis/
.idea/
.installed.cfg
*/.ipynb_checkpoints
# IPython
ipython_config.py
# Jupyter Notebook
lib/
lib64/
# libs
*.log
logs
*.manifest
MANIFEST
/models
# mypy
.mypy_cache/
nosetests.xml
#/notebooks/.ipynb_checkpoints/
.nox/
# packages
parts/
profile_default/
*.pyc
__pycache__
__pycache__/
# PyCharm
*.py[cod]
*.py,cover
# PyInstaller
.pytest_cache/
.Python
/results
results
sdist/
share/python-wheels/
/shelf/
.snakemake
*.so
*.spec
.tox/
# Unit test / coverage reports
#  Usually these files are written by a python script from a template
var/
.venv
venv/
venv.bak/
/wheels
wheels/
/workspace.xml
